body {
    margin: 0;
    padding: 0;
    font-family: 'Nasalization', sans-serif;
}

/* Header */
header {
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
header nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.content {
    padding: 2%;
}

/* Font */
@font-face {
    font-family: 'Nasalization';
    src: url('../Fonts/nasalization.otf') format('opentype');
}