body {
    margin: 0;
    padding: 0;
    font-family: 'Nasalization', sans-serif;
    background-color: black;
}

/* Header */
header {
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
header nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

/* Centering the content div */
.content {
    display: flex;
    justify-content: space-between;
}

/* Title */
h1 {
    font-size: 40px;
    color: white;
}

/* General */
p, h2 {
    text-align: center;
    color: white;
}
h2 {
    text-decoration-line: underline;
}

/* Top Left */
.content-left-top h1 {
    position: absolute;
    left: 2%;
}

/* Bottom Left and Top Right */
.content-left-bottom, .content-right-top {
    display: flex;
    height: 50vh;
    align-items: center;
}

.content-left-bottom-text-left, .content-right-top-text-left,
    .content-right-top-text-right, .content-right-bottom {
    margin: 4%;
}

/* Bottom Right */
.content-right-bottom {
    text-align: center;
    color: white;
    padding: 20px;
}

/* Font */
@font-face {
    font-family: 'Nasalization';
    src: url('../Fonts/nasalization.otf') format('opentype');
}