body {
    margin: 0;
    padding: 0;
    font-family: 'Nasalization', sans-serif;
    background-color: black;
}

/* Header */
header {
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
header nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

/* */
.container {
    display: flex;
}
h2 {
    text-decoration-line: underline;
}

/* */
.container-left {
    width: 30%;
}
.container-left img {
    width: 100%;
}
.container-right {
    width: 68%;
}
.container-right img {
    width: 100%;
}

/* */
.container-right {
    color: white;
}
.container-right-text {
    margin: 2%;
    font-size: larger;
}

/* Font */
@font-face {
    font-family: 'Nasalization';
    src: url('../Fonts/nasalization.otf') format('opentype');
}